@font-face {
    font-family: 'elegant_luxmager';
    src: url('elegantlux-mager-webfont.eot');
    src: url('elegantlux-mager-webfont.eot?#iefix') format('embedded-opentype'),
         url('elegantlux-mager-webfont.woff2') format('woff2'),
         url('elegantlux-mager-webfont.woff') format('woff'),
         url('elegantlux-mager-webfont.ttf') format('truetype'),
         url('elegantlux-mager-webfont.svg#elegant_luxmager') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: elegant-luxmager, Arial;
}

nav {
	width: 100%;
	height: 120px;
}

.logo {
	float: left;
	position: relative;
	margin: 10px;
}

.menu {
	list-style: none;
	padding: 10px;
	position: absolute;
	margin-left: 200px;
}

.menu li {
	display: inline-block;
	padding: 50px;

}

.rrss {
	position: relative;
	float: right;
	padding: 30px;
}

.cabecera {
	position: absolute;
	background-image: url(img/header.jpg);
	margin: 20px;
	width: 100%;
	height: 540px;
	background-size: cover;
}

.cabecera h1, h2 {
	position:relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	text-align: center;
	line-height: 150%;
	word-spacing: 10px;
}

.cabecera h1 {
	font-size: 40pt;
}

.cabecera h2 {
	font-size: 28pt;
}

.galeria {
	position: relative;
	list-style-type: none;
	height: 500px;
	width: 80%;
	margin-top: 650px;
	margin-bottom: 50px;
}

.galeria li img {
	float: left;
	margin: 40px;
	width: 300px;
	line-height: 300px;
}

.footer {
	background-color: #202020;
	margin: 250px 0 0 0;
	color: white;
	height: 400px;
}

.contenedor {
	width: 75%;
	position: relative;
	margin: 5px auto;
	padding: 5px;
}
.contenedor h4 {
	color: #999992;
	padding-bottom: 20px;
	font-size: 16pt;
}

.contenedor table {
	padding: 30px;
	margin: 50px;
	width: 130%;
	line-height: 150%;
	font-size: 14pt;

}

.contenedor h3 {
	text-align: center;
	color: #999992;
	font-size: 14pt;
	padding-top: 60px;
}